
/* ===============================
   Bootstrap sm (≥576px)
================================= */

@media (min-width: 576px) {
  html {
    font-size: 14px;
  }
}

/* ===============================
   Bootstrap md (≥768px)
================================= */

@media (min-width: 768px) {
  html {
    font-size: 15px;
  }
}

/* ===============================
   Bootstrap lg (≥992px)
================================= */

@media (min-width: 992px) {
  html {
    font-size: 16px;
  }

  nav .nav-item:not(.dropdown) .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background: linear-gradient(
      to right,
      var(--color-primary),
      var(--color-secondary)
    );
    transition: width 0.3s ease-in-out;
  }

  nav .nav-item:not(.dropdown) .nav-link.active::after {
    width: 100%;
  }

  nav .nav-item:not(.dropdown) .nav-link.active {
    color: var(--color-primary);
  }

  .btn-outline-light {
    
    --bs-btn-border-color: transparent;
    --bs-btn-hover-border-color: transparent;
  }
}
