@font-face {
  font-family: "Inter";
  src: url("../webfonts/Inter_18pt-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url("../webfonts/Inter_18pt-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Inter";
  src: url("../webfonts/Inter_18pt-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Inter";
  src: url("../webfonts/Inter_18pt-Black.ttf") format("truetype");
  font-weight: 900;
}

html {
  font-size: 13px;
}

:root {
  /* =========================
      FONT
  ========================= */
  --font-family-inter: "Inter";
  /* =========================
      BRAND COLORS
  ========================= */
  --color-primary: #ea580c;
  --color-primary-rgba: 234, 88, 12;

  --color-secondary: #c2410c;
  --color-secondary-rgba: 194, 65, 12;

  --color-accent: #fb923c;
  --color-accent-rgba: 251, 146, 60;

  --color-dark: #7c2d12;
  --color-dark-rgba: 124, 45, 18;

  /* --color-white: #fff; */
  --color-light: #fff;
  --color-light-rgba: 255, 255, 255;
  --color-black-rgba: 0, 0, 0;

  /* =========================
       GRAY
  ========================= */
  --color-gray-50: oklch(98.5% 0.002 247.839);
  --color-gray-100: oklch(96.7% 0.003 264.542);
  --color-gray-200: oklch(92.8% 0.006 264.531);
  --color-gray-300: oklch(87.2% 0.01 258.338);
  --color-gray-500: oklch(55.1% 0.027 264.364);
  --color-gray-600: oklch(44.6% 0.03 256.802);
  --color-gray-700: oklch(37.3% 0.034 259.733);
  --color-gray-800: oklch(27.8% 0.033 256.848);
  --color-gray-900: oklch(21% 0.034 264.665);

  /* =========================
       RED
  ========================= */
  --color-red-50: oklch(97.1% 0.013 17.38);
  --color-red-100: oklch(93.6% 0.032 17.717);
  --color-red-500: oklch(63.7% 0.237 25.331);
  --color-red-600: oklch(57.7% 0.245 27.325);
  --color-red-700: oklch(50.5% 0.213 27.518);
  --color-red-800: oklch(44.4% 0.177 26.899);

  /* =========================
       ORANGE
  ========================= */
  --color-orange-50: oklch(98% 0.016 73.684);
  --color-orange-100: oklch(95.4% 0.038 75.164);
  --color-orange-500: oklch(70.5% 0.213 47.604);
  --color-orange-600: oklch(64.6% 0.222 41.116);
  --color-orange-800: oklch(47% 0.157 37.304);

  /* =========================
       YELLOW
  ========================= */
  --color-yellow-50: oklch(98.7% 0.026 102.212);
  --color-yellow-100: oklch(97.3% 0.071 103.193);
  --color-yellow-400: oklch(85.2% 0.199 91.936);
  --color-yellow-600: oklch(68.1% 0.162 75.834);
  --color-yellow-800: oklch(47.6% 0.114 61.907);

  /* =========================
       GREEN
  ========================= */
  --color-green-50: oklch(98.2% 0.018 155.826);
  --color-green-100: oklch(96.2% 0.044 156.743);
  --color-green-500: oklch(72.3% 0.219 149.579);
  --color-green-600: oklch(62.7% 0.194 149.214);
  --color-green-700: oklch(52.7% 0.154 150.069);
  --color-green-800: oklch(44.8% 0.119 151.328);

  /* =========================
       TEAL
  ========================= */
  --color-teal-50: oklch(98.4% 0.014 180.72);
  --color-teal-100: oklch(95.3% 0.051 180.801);
  --color-teal-600: oklch(60% 0.118 184.704);
  --color-teal-800: oklch(43.7% 0.078 188.216);

  /* =========================
       CYAN
  ========================= */
  --color-cyan-50: oklch(98.4% 0.019 200.873);
  --color-cyan-100: oklch(95.6% 0.045 203.388);
  --color-cyan-500: oklch(71.5% 0.143 215.221);
  --color-cyan-800: oklch(45% 0.085 224.283);

  /* =========================
       BLUE
  ========================= */
  --color-blue-50: oklch(97% 0.014 254.604);
  --color-blue-100: oklch(93.2% 0.032 255.585);
  --color-blue-500: oklch(62.3% 0.214 259.815);
  --color-blue-600: oklch(54.6% 0.245 262.881);
  --color-blue-700: oklch(48.8% 0.243 264.376);
  --color-blue-800: oklch(42.4% 0.199 265.638);

  /* =========================
       INDIGO
  ========================= */
  --color-indigo-50: oklch(96.2% 0.018 272.314);
  --color-indigo-100: oklch(93% 0.034 272.788);
  --color-indigo-600: oklch(51.1% 0.262 276.966);
  --color-indigo-800: oklch(39.8% 0.195 277.366);

  /* =========================
       PURPLE
  ========================= */
  --color-purple-50: oklch(97.7% 0.014 308.299);
  --color-purple-100: oklch(94.6% 0.033 307.174);
  --color-purple-500: oklch(62.7% 0.265 303.9);
  --color-purple-600: oklch(55.8% 0.288 302.321);
  --color-purple-800: oklch(43.8% 0.218 303.724);

  /* =========================
       BORDER RADIUS
  ========================= */
  --rounded: 0.5rem;
  --rounded-12: 0.75rem;
  --rounded-16: 1rem;
  --radius-24: 1.5rem;

  /* =========================
       SPACING
  ========================= */
  --spacing: 0.25rem;
}

body {
  --bs-body-font-family: var(--font-family-inter, sans-serif);
}

a {
  color: inherit;
}
figure {
  margin-bottom: 0;
}

.badge {
  --bs-badge-padding-x: 1rem;
  --bs-badge-padding-y: 0.5rem;
  --bs-badge-font-size: 0.875rem;
  --bs-badge-font-weight: 500;
  --bs-badge-color: var(--color-primary);
  margin-bottom: 1.5rem;
  border-radius: 9999px;
}

/* =========================
     TYPOGRAPHY
========================= */

.text-primary {
  --bs-primary-rgb: var(--color-primary-rgba);
}

.text-secondary {
  --bs-secondary-rgb: var(--color-secondary-rgba);
}

.text-dark {
  --bs-dark-rgb: var(--color-dark-rgba);
}

/* Gray */

.text-gray-900 {
  color: var(--color-gray-900);
}

.text-gray-800 {
  color: var(--color-gray-800);
}

.text-gray-700 {
  color: var(--color-gray-700);
}

.text-gray-600 {
  color: var(--color-gray-600);
}

.text-gray-500 {
  color: var(--color-gray-500);
}
.text-blue-800 {
  color: var(--color-blue-800);
}

/* Green */

.text-green-800 {
  color: var(--color-green-800);
}

/* Orange */

.text-orange-800 {
  color: var(--color-orange-800);
}

/* Cyan */

.text-cyan-800 {
  color: var(--color-cyan-800);
}

/* Indigo */

.text-indigo-800 {
  color: var(--color-indigo-800);
}

/* Red */

.text-red-800 {
  color: var(--color-red-800);
}

/* Teal */

.text-teal-800 {
  color: var(--color-teal-800);
}

/* Purple */

.text-purple-800 {
  color: var(--color-purple-800);
}

/* Yellow */

.text-yellow-400 {
  color: var(--color-yellow-400);
}

/* =========================
FONT SIZE
========================= */
.font-header {
  font-size: 3.75rem;
  font-weight: 900;
  line-height: 4.6875rem;
}
.fs-12 {
  font-size: 0.75rem;
}

/* .fs-14 {
  font-size: 0.875rem;
} */

.fs-18 {
  font-size: 1.125rem;
}

.fs-30 {
  font-size: 1.875rem;
}
.font-72 {
  font-size: clamp(2.5rem, 8vw, 4.5rem);
  line-height: clamp(2.5rem, 8vw, 4.5rem);
}

/* =========================
BACKGROUNDS
========================= */

.bg-linear-to-bottom-right-pr-sec {
  background-image: linear-gradient(
    to bottom right,
    rgb(var(--color-primary-rgba, 234, 88, 12)),
    rgb(var(--color-secondary-rgba, 194, 65, 12))
  );
}

.bg-linear-to-right-pr-sec {
  background-image: linear-gradient(
    to right in oklab,
    rgb(var(--color-primary-rgba, 234, 88, 12)) 0%,
    rgb(var(--color-secondary-rgba, 194, 65, 12)) 100%
  );
}

.bg-linear-to-right-dark-pr-sec {
  background-image: linear-gradient(
    to right in oklab,
    rgb(var(--color-secondary-rgba, 124, 45, 18)) 0%,
    rgb(var(--color-primary-rgba, 234, 88, 12)) 50%,
    rgb(var(--color-secondary-rgba, 194, 65, 12)) 100%
  );
}

.bg-linear-to-right-bottom {
  background-image: linear-gradient(
    to right bottom in oklab,
    rgb(var(--color-primary-rgba, 234, 88, 12)) 0%,
    rgb(var(--color-secondary-rgba, 194, 65, 12)) 100%
  );
}

.bg-linear-to-right-bottom-pr-sec {
  background-image: linear-gradient(
    to right bottom in oklab,
    rgb(var(--color-primary-rgba, 234, 88, 12)) 0%,
    rgb(var(--color-secondary-rgba, 194, 65, 12)) 100%
  );
}

.bg-linear-to-right-bottom-accent-pr {
  background-image: linear-gradient(
    to right bottom in oklab,
    rgb(var(--color-accent-rgba, 251, 146, 60)) 0%,
    rgb(var(--color-primary-rgba, 234, 88, 12)) 100%
  );
}

.bg-linear-to-right-accent-pr {
  background-image: linear-gradient(
    to right in oklab,
    rgb(var(--color-accent-rgba, 251, 146, 60)) 0%,
    rgb(var(--color-primary-rgba, 234, 88, 12)) 100%
  );
}

.bg-linear-to-right-bottom-sec-accent {
  background-image: linear-gradient(
    to right bottom in oklab,
    rgb(var(--color-secondary-rgba, 194, 65, 12)) 0%,
    rgb(var(--color-accent-rgba, 251, 146, 60)) 100%
  );
}

.bg-linear-to-right-bottom-sec-pr {
  background-image: linear-gradient(
    to right bottom in oklab,
    rgb(var(--color-secondary-rgba, 194, 65, 12)) 0%,
    rgb(var(--color-primary-rgba, 234, 88, 12)) 100%
  );
}

.bg-linear-to-right-bottom-accent-sec {
  background-image: linear-gradient(
    to right bottom in oklab,
    rgb(var(--color-accent-rgba, 251, 146, 60)) 0%,
    rgb(var(--color-secondary-rgba, 194, 65, 12)) 100%
  );
}

.section-bg-linear {
  background-image: linear-gradient(
    to right bottom,
    rgb(255, 247, 237) 0%,
    rgb(255, 255, 255) 50%,
    oklch(0.98 0.016 73.684) 100%
  );
}

.bg-linear-to-right-bottom-pr-sec-accent {
  background-image: linear-gradient(
    to right bottom in oklab,
    rgb(var(--color-primary-rgba, 234, 88, 12)) 0%,
    rgb(var(--color-secondary-rgba, 194, 65, 12)) 50%,
    rgb(var(--color-accent-rgba, 251, 146, 60)) 100%
  );
}

.bg-linear-to-right-pr-sec-accent {
  background-image: linear-gradient(
    to right in oklab,
    rgb(var(--color-primary-rgba, 234, 88, 12)) 0%,
    rgb(var(--color-secondary-rgba, 194, 65, 12)) 50%,
    rgb(var(--color-accent-rgba, 251, 146, 60)) 100%
  );
}

.bg-gradient-light-primary {
  background: linear-gradient(
    to right bottom,
    rgba(var(--color-primary-rgba, 234, 88, 12), 0.08) 0%,
    rgba(var(--color-secondary-rgba, 194, 65, 12), 0.15) 100%
  );
}

.bg-clip {
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-white-20 {
  background-color: color-mix(in oklab, var(--color-light) 20%, transparent);
}

.bg-gray-100 {
  background-color: var(--color-gray-100, #f3f4f6);
}

.bg-red-600 {
  background-color: var(--color-red-600, #dc2626);
}

.bg-orange-600 {
  background-color: var(--color-orange-600, #ea580c);
}

.bg-yellow-600 {
  background-color: var(--color-yellow-600, #ca8a04);
}

.bg-yellow-100 {
  background-color: var(--color-yellow-100, #fef9c3);
}

.bg-green-600 {
  background-color: var(--color-green-600, #16a34a);
}

.bg-teal-600 {
  background-color: var(--color-teal-600, #0d9488);
}
.bg-blue-100 {
  background-color: var(--color-blue-100, #dbeafe);
}

.bg-blue-500 {
  background-color: var(--color-blue-500, #3b82f6);
}

.bg-blue-600 {
  background-color: var(--color-blue-600, #2563eb);
}

.bg-indigo-600 {
  background-color: var(--color-indigo-600, #4f46e5);
}

.bg-purple-600 {
  background-color: var(--color-purple-600, #9333ea);
}

.bg-green-500 {
  background-color: var(--color-green-500, #22c55e);
}

.bg-orange-500 {
  background-color: var(--color-orange-500, #f97316);
}

.bg-cyan-500 {
  background-color: var(--color-cyan-500, #06b6d4);
}

.bg-purple-500 {
  background-color: var(--color-purple-500, #a855f7);
}

.bg-green-100 {
  background-color: var(--color-green-100, #dcfce7);
}

.bg-orange-100 {
  background-color: var(--color-orange-100, #ffedd5);
}

.bg-cyan-100 {
  background-color: var(--color-cyan-100, #cffafe);
}

.bg-red-100 {
  background-color: var(--color-red-100, #fee2e2);
}

.bg-indigo-100 {
  background-color: var(--color-indigo-100, #e0e7ff);
}

.bg-teal-100 {
  background-color: var(--color-teal-100, #ccfbf1);
}

.bg-gray-700 {
  background-color: var(--color-gray-700, #374151);
}

.bg-purple-100 {
  background-color: var(--color-purple-100, #f3e8ff);
}

.bg-blue-gradient {
  background-image: linear-gradient(
    to right bottom,
    var(--color-blue-50, #eff6ff) 0%,
    var(--color-blue-100, #dbeafe) 100%
  );
}

.bg-gray-gradient {
  background-image: linear-gradient(
    to right bottom,
    var(--color-gray-50, #f9fafb) 0%,
    var(--color-gray-100, #f3f4f6) 100%
  );
}

.bg-green-gradient {
  background-image: linear-gradient(
    to right bottom,
    var(--color-green-50, #f0fdf4) 0%,
    var(--color-green-100, #dcfce7) 100%
  );
}

.bg-orange-gradient {
  background-image: linear-gradient(
    to right bottom,
    var(--color-orange-50, #fff7ed) 0%,
    var(--color-orange-100, #ffedd5) 100%
  );
}

.bg-cyan-gradient {
  background-image: linear-gradient(
    to right bottom,
    var(--color-cyan-50, #ecfeff) 0%,
    var(--color-cyan-100, #cffafe) 100%
  );
}

.bg-purple-gradient {
  background-image: linear-gradient(
    to right bottom,
    var(--color-purple-50, #faf5ff) 0%,
    var(--color-purple-100, #f3e8ff) 100%
  );
}

.bg-indigo-gradient {
  background-image: linear-gradient(
    to right bottom,
    var(--color-indigo-50, #eef2ff) 0%,
    var(--color-indigo-100, #e0e7ff) 100%
  );
}

.bg-red-gradient {
  background-image: linear-gradient(
    to right bottom,
    var(--color-red-50, #fef2f2) 0%,
    var(--color-red-100, #fee2e2) 100%
  );
}

.bg-teal-gradient {
  background-image: linear-gradient(
    to right bottom,
    var(--color-teal-50, #f0fdfa) 0%,
    var(--color-teal-100, #ccfbf1) 100%
  );
}

.bg-yellow-gradient {
  background-image: linear-gradient(
    to right bottom,
    var(--color-yellow-50, #fefce8) 0%,
    var(--color-yellow-100, #fef9c3) 100%
  );
}

.bg-primary {
  --bs-primary-rgb: var(--color-primary-rgba, 234, 88, 12);
}

/* =========================
     BORDERS
  ========================= */

.border-top {
  --bs-border-color: var(--color-gray-200);
}
.border-bottom {
  --bs-border-color: var(--color-gray-100);
}
.border {
  --bs-border-color: var(--color-gray-100);
}

.border-transparent {
  border-color: transparent !important;
}

/* =========================
     BORDER RADIUS
  ========================= */

.rounded-8 {
  border-radius: var(--rounded);
}

.rounded-12 {
  border-radius: var(--rounded-12);
}

.rounded-16 {
  border-radius: calc(var(--rounded) * 2);
}

.rounded-24 {
  border-radius: var(--radius-24);
}

/* =========================
     WIDTH & HEIGHT
========================= */

.full-width {
  width: 100vw;
}

.w-fit {
  width: fit-content;
}

.min-w {
  min-width: 100%;
}

.w-5 {
  width: calc(var(--spacing) * 5);
}

.h-5 {
  height: calc(var(--spacing) * 5);
}

.w-7 {
  width: calc(var(--spacing) * 7);
}

.h-7 {
  height: calc(var(--spacing) * 7);
}

.w-10 {
  width: calc(var(--spacing) * 10);
}

.h-10 {
  height: calc(var(--spacing) * 10);
}

.w-12 {
  width: 3rem;
}

.h-12 {
  height: 3rem;
}

.w-16 {
  width: calc(var(--spacing) * 16);
}

.h-16 {
  height: calc(var(--spacing) * 16);
}

.w-20 {
  width: calc(var(--spacing) * 20);
}

.h-20 {
  height: calc(var(--spacing) * 20);
}
.w-24 {
  width: calc(var(--spacing) * 24);
}

.h-24 {
  height: calc(var(--spacing) * 24);
}

.max-w-28 {
  max-width: 28rem;
}

.max-w-4xl {
  max-width: 56rem;
}

.max-width-64rem {
  max-width: 64rem;
}

.max-w-6xl {
  max-width: 72rem;
}

/* =========================
     PADDING & MARGIN & GAP
========================= */

.gap-12 {
  gap: 0.75rem;
}

.gap-32 {
  gap: 2rem;
}

.gr-32 {
  row-gap: 2rem;
}

.p-12 {
  padding: 0.75rem;
}
.px-12 {
  padding-inline: 0.75rem;
}
.py-12 {
  padding-block: 0.75rem;
}
.p-32 {
  padding: 2rem;
}

.px-20 {
  padding-inline: 1.25rem;
}

.px-32 {
  padding-inline: 2rem;
}

.py-20 {
  padding-block: 1.25rem;
}

.pt-32 {
  padding-top: 2rem;
}
.pe-64 {
  padding-right: 4rem;
}
.section-p {
  padding-block: 10rem;
}

.me-12 {
  margin: 0 0.75rem 0 0;
}

.ms-12 {
  margin: 0 0 0 0.75rem;
}

.mb-12 {
  margin-bottom: 0.75rem;
}

.mb-32 {
  margin-bottom: 2rem;
}

.mt-40 {
  margin-top: 2.5rem;
}

/* =========================
     BOX SHADOW
========================= */

.shadow-lg {
  box-shadow: 0 0.625rem 0.9375rem -0.1875rem rgba(var(--color-black-rgba, 0, 0, 0), 0.1),
    0 0.25rem 0.375rem -0.25rem rgba(var(--color-black-rgba, 0, 0, 0), 0.1);
}

.shadow-2xl {
  box-shadow: 0 1.5625rem 3.125rem -0.75rem rgba(var(--color-black-rgba, 0, 0, 0), 0.25);
}

.card-box-shadow {
  box-shadow: 0 0.25rem 0.375rem -0.0625rem rgba(var(--color-black-rgba, 0, 0, 0), 0.1),
    0 0.125rem 0.25rem -0.125rem rgba(var(--color-black-rgba, 0, 0, 0), 0.1);
}
.avatar {
  box-shadow: 0 0 0 0.125rem var(--color-light),
    0 0 0 0.25rem rgba(var(--color-primary-rgba), 0.2);
}

/* =========================
     POSITION
========================= */

.inset {
  inset: 0;
}

.-top-6 {
  top: calc(var(--spacing) * -6);
}

.-right-6 {
  right: calc(var(--spacing) * -6);
}

.-bottom-6 {
  bottom: calc(var(--spacing) * -6);
}

.-left-6 {
  left: calc(var(--spacing) * -6);
}

.-right-1 {
  right: calc(var(--spacing) * -1);
}

.-bottom-1 {
  bottom: calc(var(--spacing) * -1);
}

/* =========================
     CONTAINER
========================= */

.container {
  --bs-gutter-x: 4rem;
  --bs-gutter-y: 0;

  width: 100%;
  max-width: 96rem;
}

/* =========================
     START: Navbar
========================= */

.navbar-brand {
  --bs-navbar-brand-padding-y: 0;
}

.navbar {
  --bs-navbar-active-color: var(--color-primary);
  --bs-navbar-hover-color: var(--color-primary);
}

.navbar-dark,
.navbar[data-bs-theme="dark"] {
  --bs-navbar-color: var(--color-light-rgba);
  --bs-navbar-hover-color: var(--color-primary);
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-block: 0;
  --bs-navbar-nav-link-padding-x: 0;
}

.navbar-toggler {
  --bs-navbar-toggler-padding-x: 0;
  --bs-navbar-toggler-padding-y: 0;
  --bs-border-width: 0;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.nav-link:focus {
  color: var(--bs-nav-link-color);
}

.nav-link:hover {
  color: var(--bs-nav-link-hover-color);
}

.dropdown-toggle.show:not(:hover) {
  color: var(--bs-navbar-color);
}
/* =========================
     SERVICES & DROPDOWN
========================= */

.service-item:hover {
  background-color: color-mix(in oklab, var(--color-secondary) 5%, transparent);
}

.service-icon {
  width: 2.5rem;
  height: 2.5rem;
  transition: transform 0.3s ease;
}

.service-item:hover .service-icon {
  transform: scale(1.1);
}

.help-box.border {
  --bs-border-color: rgba(var(--color-primary-rgba), 0.15);
}

.dropdown-toggle::after {
  display: none;
}

.arrow-icon {
  transition: transform 0.3s ease;
}

.dropdown-toggle.show .arrow-icon,
.mobile-menu button[aria-expanded="true"] .arrow-icon {
  transform: rotate(180deg);
}

.dropdown-menu {
  transform: translateY(0.625rem) translateX(-20%);
  transition: all 0.3s ease;
  visibility: hidden;
}

.dropdown-menu.show {
  opacity: 1 !important;
  visibility: visible;
}

.mobile-services {
  max-height: 21.875rem !important;
  overflow-y: auto;
}
.rotate-3 {
  transform: rotate(3deg);
}
.contact-us {
  transition: all 0.2s ease;
}
.contact-us:hover {
  color: var(--color-dark) !important;
}
/* =========================
     END: Navbar
========================= */

/* =========================
     HERO SECTION & BUTTONS
========================= */

.hero-section {
  padding-block: 6rem 4rem;

  h1 {
    font-size: 3.75rem;
  }

  .hero-content {
    p {
      max-width: 42rem;
      font-size: 1.25rem;
      line-height: 2.0625rem;
    }

    button {
      padding-inline: 2.5rem;
      transition: all 0.2s ease;
    }

    .btn-outline-primary {
      --bs-btn-color: var(--color-gray-700);
      --bs-btn-border-color: var(--color-gray-300);

      --bs-btn-hover-color: var(--color-primary);
      --bs-btn-hover-bg: transparent;
      --bs-btn-hover-border-color: var(--color-primary);
    }
  }
}

/* =========================
     BUTTONS
========================= */

.btn-outline-light {
  --bs-border-color: var(--color-gray-200);
  --bs-btn-color: var(--color-gray-700);
  --bs-btn-border-color: var(--bs-border-color);
  --bs-btn-hover-color: var(--color-primary);
  --bs-btn-hover-bg: transparent;
  --bs-btn-hover-border-color: var(--bs-border-color);
  --bs-btn-active-color: var(--color-primary);
}

.btn-primary-hover {
  transition: all 0.3s ease;

  .arrow {
    transition: all 0.3s ease;
  }

  &:hover {
    .arrow {
      transform: translateX(0.375rem);
    }
  }
}

.btn-primary-hover:hover {
  transform: translateY(-0.25rem);

  box-shadow: 0 1.25rem 1.5625rem -0.3125rem rgba(var(--color-primary-rgba), 0.25),
    0 0.5rem 0.625rem -0.375rem rgba(var(--color-primary-rgba), 0.25);
}

.btn-primary-hover-box-shadow:hover {
  box-shadow: 0 1.25rem 1.5625rem -0.3125rem rgba(var(--color-primary-rgba), 0.25),
    0 0.5rem 0.625rem -0.375rem rgba(var(--color-primary-rgba), 0.25);
}

/* =========================
     HEADER SECTION
========================= */

.header-section {
  margin-bottom: 5rem;

  .header-title {
    font-size: clamp(2rem, 5vw, 3rem);
    line-height: clamp(2rem, 5vw, 3rem);
  }

  .header-title,
  .header-title-contact {
    font-weight: 900;
  }

  p {
    max-width: 48rem;
    line-height: 1.75rem;
  }
}

/* =========================
     SERVICES SECTION
========================= */

.services-section {
  .services-card {
    transition: all 0.3s ease;

    .icon {
      transition: all 0.3s ease;
    }

    .arrow {
      transition: all 0.3s ease;
    }

    .learn-more {
      &:hover {
        color: var(--color-dark) !important;
      }
    }

    &:hover {
      transform: translateY(-0.5rem);
      box-shadow: 0 1.5625rem 3.125rem -0.75rem rgba(234, 88, 12, 0.1);

      .icon {
        transform: scale(1.1);
      }

      .arrow {
        transform: translateX(0.375rem);
      }
    }
  }
}

/* =========================
     NAV TABS & TECHNOLOGY CARDS
========================= */

.nav-tabs .nav-link {
  --bs-nav-link-color: var(--color-gray-600);

  --bs-nav-link-padding-x: 2rem;
  --bs-nav-link-padding-y: 1rem;

  --bs-nav-link-font-size: 1.125rem;
  --bs-nav-link-font-weight: 600;

  border: none;
  border-bottom: 0.125rem solid transparent;
}

.nav-tabs .nav-link:hover {
  --bs-nav-link-hover-color: var(--color-primary);
  --bs-nav-tabs-link-hover-border-color: var(--color-primary);
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  --bs-nav-tabs-link-active-color: var(--color-primary);
  --bs-nav-tabs-link-active-border-color: var(--color-primary);
}

.technology-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.technology-card:hover {
  transform: translateY(-0.5rem);

  box-shadow: 0 1.25rem 1.5625rem -0.3125rem rgb(0 0 0 / 10%),
    0 0.5rem 0.625rem -0.375rem rgb(0 0 0 / 10%);
}
.tab-pane {
  opacity: 0;
  transform: translateY(25px);
  transition: all 0.3s ease;
}

.tab-pane.active.show {
  opacity: 1;
  transform: translateY(0);
}

.divider {
  height: 0.0625rem;

  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    oklch(0.928 0.006 264.531) 50%,
    rgba(0, 0, 0, 0) 100%
  );
}

/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */

/* =========================
     CAROUSEL INDICATORS
========================= */

.carousel-indicators [data-bs-target] {
  width: 0.5rem;
  height: 0.5rem;

  margin: 0 0.25rem;

  border: none;

  --bs-carousel-indicator-active-bg: var(--color-gray-300);

  opacity: 1;
  transition: all 0.3s ease;
}

.carousel-indicators [data-bs-target]:hover {
  width: 2rem;
  border-radius: 62.4375rem !important;

  background-color: color-mix(in oklab, var(--color-primary) 50%, transparent);
}

.carousel-indicators .active {
  background-color: var(--color-primary);
}

.item-content::before {
  content: "";
  position: absolute;
  inset: 0;

  background: linear-gradient(
    to bottom right,
    rgba(var(--color-primary-rgba), 0.05),
    transparent,
    rgba(var(--color-secondary-rgba), 0.05)
  );

  opacity: 0;
  transition: all 0.5s ease;

  pointer-events: none;
  z-index: 999;
}

.item-content:hover::before {
  opacity: 1;
}

.item-content .icon-box {
  transition: transform 0.3s ease;
}

.item-content:hover .icon-box {
  transform: scale(1.09);
}

/* =========================
     ACCORDION
========================= */

.accordion {
  --bs-accordion-border-radius: 1rem;
  --bs-accordion-inner-border-radius: 1rem;

  --bs-accordion-border-color: var(--color-gray-200);

  --bs-accordion-color: var(--color-gray-600);
  --bs-accordion-active-color: var(--color-dark);
  --bs-accordion-active-bg: var(--color-gray-50);

  --bs-accordion-btn-focus-box-shadow: none;

  border: none;
}

.accordion-item {
  border: 0.0625rem solid var(--color-gray-200) !important;
  transition: all 0.3s ease;
}

.accordion-item:hover {
  border-color: color-mix(
    in oklab,
    var(--color-primary) 30%,
    transparent
  ) !important;
}

.accordion-button {
  --bs-accordion-btn-padding-y: 1.5rem;
  --bs-accordion-btn-padding-x: 1.5rem;
  --bs-accordion-btn-color: var(--color-dark);

  font-size: 1.125rem;
  font-weight: 600;
  color: var(--color-dark);

  border: none;
  box-shadow: none;
  transition: var(--bs-accordion-transition);
}

.accordion-button:hover {
  background-color: var(--color-gray-50) !important;
}

.accordion-button::after {
  display: none;
}

.accordion-body {
  --bs-accordion-body-padding-y: 0.5rem 1.5rem;
  --bs-accordion-body-padding-x: 1.5rem;
}

.icon-circle {
  width: 2.625rem;
  height: 2.625rem;

  background-color: color-mix(in oklab, var(--color-primary) 10%, transparent);
}

.icon-circle i {
  transition: transform 0.3s ease;
}

.accordion-button:not(.collapsed) .icon-circle i {
  transform: rotate(180deg);
}

/* =========================
     FORM & INPUTS
========================= */

.sr-only {
  width: 0.0625rem;
  height: 0.0625rem;

  margin: -0.0625rem;
  border-width: 0;

  white-space: nowrap;
  clip-path: inset(50%);
}

.card-content.border {
  --bs-border-width: 0.125rem;
  --bs-border-color: var(--color-gray-200);

  cursor: pointer;
  transition: all 0.2s ease;
}

.card-content:hover {
  --bs-border-color: var(--color-gray-300);
}

.budget-card input:checked + .card-content {
  --bs-border-color: var(--color-primary);

  background-color: color-mix(in oklab, var(--color-primary) 5%, transparent);
}

.budget-card input:checked + .card-content .title {
  color: var(--color-primary);
}

.budget-card:hover input:checked + .card-content {
  --bs-border-color: var(--color-gray-300);
}

.link-primary {
  --bs-primary-rgb: var(--color-primary-rgba);
}

.link-primary:hover {
  color: var(--color-primary) !important;
  text-decoration: underline !important;
  text-decoration-color: var(--color-primary);
}

.form-control,
.form-select {
  padding: 1rem 1.25rem;

  --bs-body-color: var(--color-gray-500);
  --bs-body-bg: var(--color-gray-100);

  --bs-border-color: transparent;
  --bs-border-radius: var(--rounded-16);
}

.form-control:focus,
.form-select:focus,
.form-check-input:focus,
textarea:focus {
  --bs-body-color: var(--color-gray-900);
  --bs-body-bg: var(--color-light);
  border-color: var(--color-primary) !important;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(var(--color-primary-rgba), 0.3);
}

input::placeholder,
textarea::placeholder {
  font-size: 1rem;
  color: var(--color-gray-600) !important;
}
textarea.border {
  --bs-border-width: 0.125rem;
  --bs-border-color: transparent;
  resize: none;
}
.checkbox-input {
  accent-color: var(--color-primary);
}

.checkbox-input:checked {
  background-color: var(--color-primary) !important;
  border-color: var(--color-primary) !important;
}

.modal-content {
  color: var(--color-light);
  background-color: var(--color-gray-900);
}
.modal-header {
  border-bottom: none;
}
.modal-footer {
  border-top: none;
}
.btn-close {
  display: none;
}
/* =========================
     FOOTRE
====================== */
.icon-link {
  text-decoration-color: transparent;
  transition: all 0.3s ease;
}

.icon-link:hover {
  color: var(--color-light);
  background-color: var(--color-primary);
}
